*{
  box-sizing: border-box; 
}
html, body { 
	background: rgb(50, 50, 50);
	color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
} 

body {
	font-size: min(1.2rem, 16px);
  font-family: 'verdanab', 'verdana', 'sans-serif';
	text-rendering: optimizeLegibility;  
  justify-content: center;  
}

body::-webkit-scrollbar {
  width: 10px;   
}
 
body::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);  
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);  
  border-radius: 5px;  
} 
 
a:link {
  color: #fff;
}
 
a:visited {
  color: #fff;
}
 
a:hover {
  color: rgb(255, 0, 175);
  text-decoration: underline;
}
 
a:active {
  color: rgb(0, 255, 255);
}

a{
  text-decoration: none;
}

p, label, a { 
  word-break: break-word; 
  font-size: min(0.9rem, 16px);
}

select, button {   
  cursor: pointer;
}
 
img{
  max-width:min(200px, 100%);
  max-height:min(200px, 100%);
  border: #000000 solid 1px;
}

 table{
  width: 100%;
  float: left;
 }

 table th{
  font-weight: normal;
 }

fieldSet{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border-width: 0px;
}

tr.separateRow td {
  padding-bottom:20px
}

.container {
  display:flex;
  flex-direction: column;   
  max-width: 900px;   
	margin: auto; 
  height: auto; 
}
 
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  max-width: 100%;
  width: 100%;
  align-content: flex-start;
}

.column{
  display: flex; 
  flex-direction: column;  
  width: 50%;
}

#topRow {   
  flex-direction: row; 
} 

.topCol{       
  font-size: min(3vw, 16px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}

.botCol { 
  height:100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

#middleRow {   
  padding-top: min(1.3vw, 20px); 
  min-height: calc(100vh - 160px - 2rem ); 
} 
#bottomRow{
  height: 80px;
  bottom: -80px;
}
 
#titleDiv{ 
  justify-content: space-around;
  padding-left: min(4vw, 50px);
  padding-right: min(4vw, 50px);
  padding-top: min(1.5vw, 16px);
  padding-bottom: min(1.5vw, 16px); 
}

#title{
  font-size: min(5vw, 28px);
  font-weight: bold;
  text-align: center;
  margin-top: min(1vw, 10px);
  margin-bottom: 10px; 
}

#titleLink {
  all: unset;
}
 
#subtitle{ 
  font-size:min(2vw, 12px);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#topNav {
  flex-grow: 1;
  flex-direction: row;
  padding: min(3vw, 50px); 
}

.topNavLink{
  text-decoration: none;
}
 
.connectStep{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formGroup{
  width: 100%;
  margin-bottom: 5px;  
  display: flex;
}

.formGroupButton{
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  padding-top:20px; 
}

.formLabel{  
  padding-right: 10px; 
  float:right;
}
.formLabel:empty
{
    display:none;
}

.formDescription{
  margin: 0px;
  margin-bottom: 15px; 
  font-size: min(1.2rem, 14px); 
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.formTitle{ 
  text-align: center;
  padding-left: 0px; 
  padding-right: 20px; 
  display: flex; 
  font-size: min(1.4rem, 18px); 
}

.formInput{ 
  flex-grow: 1;  
  width: 100%;
}
 
.step{
  width: 100%;
  padding-top:min(1.3vw, 20px); 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

@media screen and (max-width: 950px) {
  .step{
    padding:min(4vw, 50px);
  } 
}
 
.swapCard{ 
  width: 100%;
  min-height: 100px;  
  margin-top: 10px;
  margin-bottom: 60px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;  
  background-color: rgba(255, 255, 255, 0.062);
  -webkit-box-shadow: 0px 0px 50px 0px #000000; 
  box-shadow: 0px 0px 50px 0px #000000;
}

.swapFilter{ 
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.swapFilter select{
  max-width: 10%; 
}
#profileFilter{
  min-width: 80px;
}
 

.swapCardId{
  text-align: center;
  font-size: 120%; 
  margin-top: 15px;
  margin-bottom: 15px;
}

.swapCardGroup{ 
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

.swapCardGroupSeparator{   
  width: 1px;   
  background: rgb(0, 0, 0);
  display: flex; 
  flex-direction: column;
}

.swapCardGroupColumn{
  width: 50%;  
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}
 

.swapCardGroupColumnDiv{
  width: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
}

.swapCardGroupColumnTop{ 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px; 
  border-top: rgb(0, 0, 0) solid 1px;
  border-bottom: rgb(0, 0, 0) solid 1px;
  justify-content: center;
  box-shadow: 0px 8px 6px -3px rgba(0,0,0,0.2), 0px -8px 6px -3px rgba(0,0,0,0.2);
}

.swapCardGroupColumnBottom{
  display: flex;
  flex-direction: row;  
  margin-top: 10px;  
  padding-top:15px;
  padding-bottom:15px;
  border-top: rgb(0, 0, 0) solid 1px;
  box-shadow: 0px -8px 6px -3px rgba(0,0,0,0.2);
}


.swapCardToken{
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.swapCardTokenText{  
  width: 100%; 
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.pagination{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  text-decoration: none; 
}

.pagination a { 
  padding: 5px;
  margin: 5px; 
  text-decoration: none;
  font-size: min(1.2rem, 14px);
}

.emoji{
  font-style: normal;
}
 
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
 
#about{
  text-align: left;
}

#aboutContracts{
  text-align: center;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding-bottom: 10px;
}

.aboutSection{
  padding-bottom: 10px;
}

.aboutGuide a, b {
  text-decoration: underline;
}

.swapCardTokenText a, b{
  text-decoration: none;
}

.footer {  
  padding: 2rem;  
  width: 100%;
  height:100%;
  background-color: transparent;
  color:rgb(100, 100, 100);
  text-align: center;
  text-decoration: none;
  font-size: 70%; 
}
  
.footer  a:link, .footer a:visited {
  color: rgb(100, 100, 100);
}
.footer  a:hover {
  color: rgb(255, 0, 175);
}
 