*{
  box-sizing: border-box;
}
html, body { 
	background: rgb(50, 50, 50);
	color: #fff;
  padding: 0;
  margin: 0; 
} 

body {
	font-size: min(1.2rem, 16px);
  font-family: 'Verdana';
	text-rendering: optimizeLegibility;  
  justify-content: center; 
}
 
a:link {
  color: #fff;
}
 
a:visited {
  color: #fff;
}
 
a:hover {
  color: rgb(255, 0, 175);
  text-decoration: underline;
}
 
a:active {
  color: rgb(0, 255, 255);
}

a{
  text-decoration: none;
}

p, label, a { 
  word-break: break-word; 
  font-size: min(0.9rem, 16px);
}

select, button {   
  cursor: pointer;
}
 
img{
  max-width:min(200px, 100%);
  max-height:min(200px, 100%);
  border: #fff solid 1px;
}

th, td {
  padding: 10px;
}

 

.container {
  display:flex;
  flex-direction: column;  
  height: 100vh;
  max-width: 900px;   
	margin: auto;
  text-align: center;
}
 
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  max-width: 100%;
  width: 100%;
  
}

.column{
  display: flex; 
  flex-direction: column;  
  width: 50%;
}

#topRow {   
  flex-direction: row; 
} 

.topCol{       
  font-size: min(3vw, 16px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}

.botCol { 
  height:100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

#bottomRow {  
  /*flex-grow: 1*/
  padding-top: min(5vw, 50px);
} 
 
#titleDiv{ 
  justify-content: space-around;
  padding-left: min(4vw, 50px);
  padding-right: min(4vw, 50px);
  padding-top: min(1.5vw, 16px);
  padding-bottom: min(1.5vw, 16px);
}

#title{
  font-size: min(5vw, 28px);
  font-weight: bold;
  text-align: center;
  margin-top: min(1vw, 10px);
  margin-bottom: 10px;
}

#titleLink {
  all: unset;
}
 
#subtitle{ 
  font-size:min(2vw, 12px);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#topNav {
  flex-grow: 1;
  flex-direction: row;
  padding: min(3vw, 50px); 
}

.topNavLink{
  text-decoration: none;
}
 
.connectStep{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formGroup{
  width: 100%;
  margin-bottom: 3px;  
  display: flex;
}

.formGroupButton{
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
}

.formLabel{  
  padding-right: 10px; 
}
.formLabel:empty
{
    display:none;
}

.formDescription{
  margin: 0px;
  margin-bottom: 15px; 
  font-size: min(1.2rem, 14px); 
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.formTitle{ 
  text-align: center;
  padding-left: 0px; 
  padding-right: 20px; 
  display: flex; 
  font-size: min(1.4rem, 18px); 
}

.formInput{ 
  flex-grow: 1; 
}

.step{
  width: 100%;
  padding-bottom:min(4vw, 50px);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

@media screen and (max-width: 950px) {
  .step{
    padding:min(4vw, 50px);
  } 
}
 
.swapCard{ 
  width: 100%;
  min-height: 100px;
  padding: min(1.1vw, 15px);
  margin-top: min(2.4vw, 30px);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;  
}

.swapFilter{ 
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.swapFilter select{
  max-width: 10%; 
}
 

.swapCardId{
  text-align: center;
  font-size: 110%;
  margin: 0px;
  margin-bottom: 15px;
}

.swapCardGroup{ 
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

.swapCardGroupSeparator{   
  width: 1px;  
  background: #fff;
  display: flex; 
  flex-direction: column;
}

.swapCardGroupColumn{
  width: 50%;  
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}
.swapCardGroupColumnDiv{
  width: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
}

.swapCardGroupColumnTop{ 
  margin: 5px;
  margin-bottom: 10px; 
  border-bottom: #fff solid 1px;
  justify-content: center;
}

.swapCardGroupColumnBottom{
  display: flex;
  flex-direction: row;  
  margin-top: 10px; 
  padding: 10px; 
  padding-top:16px;
  border-top: #fff solid 1px;
}


.swapCardToken{
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.swapCardTokenText{ 
  margin: 5px;
  width: 100%; 
  text-align: center;
  text-decoration: none;
}
 
.pagination{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
}

.pagination a { 
  padding: 5px;
  margin: 5px; 
  text-decoration: none;
  font-size: min(1.2rem, 14px);
}

.emoji{
  font-style: normal;
}
 
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
 
#about{
  text-align: left;
}

#aboutContracts{
  text-align: center;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding-bottom: 10px;
}